/* SECCION ENTRENAMIENTO */

.entrenamiento {

    padding: 80px 8%;
    background: white;

}

.entrenamiento-wrapper {

    display: flex;
    align-items: center;
    gap: 50px;

}

.entrenamiento-img {

    flex: 1;

}

.entrenamiento-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.entrenamiento-texto {

    flex: 1;

}

.entrenamiento-texto h2 {

    font-size: 32px;
    color: #0a2a5e;
    margin-bottom: 10px;

}

.entrenamiento-texto p {

    margin-bottom: 15px;
    line-height: 1.7;
    color: #444;

}

/* METODOS ENTRENAMIENTO */

.metodos-entrenamiento {

    padding: 80px 8%;
    background: #f5f7fa;
    text-align: center;

}

.metodos-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    margin-top: 40px;

}

.metodo-card {

    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

}

.metodo-card:hover {

    transform: translateY(-8px);

}

.metodo-card i {

    font-size: 35px;
    color: #ffc107;
    margin-bottom: 15px;

}

.metodo-card h3 {

    font-size: 18px;
    margin-bottom: 5px;
    color: #0a2a5e;

}

.metodo-card p {

    font-size: 15px;
    color: #555;

}


/* LINEA AMARILLA */

.linea {

    width: 60px;
    height: 4px;
    background: #ffc107;
    margin: 15px auto 35px auto;

}


.entrenamiento-img img {

    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;

}